/* Configurações Gerais */
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f2f2f2;
    color:palevioletred;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: palevioletred;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-weight: 300;
    font-size: 42px;
    margin: 10px;
}

header p {
    font-size: 18px;
}

/* Painel de Navegação */
nav {
    margin-top: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

/* Conteúdo Principal */
main {
    margin: 30px;
}

section {
    background-color: white;
    margin-bottom: 30px;
    padding: 30px;
}

section h2 {
    color:palevioletred;
    font-size: 30px;
    text-align: center;
}

section h3 {
    color:palevioletred;
} 

section p {
    font-size: 17px;
    line-height: 1.2; /* Tamanho do espaçamento das palavaras*/
}

/* Imagem Principal */
.imagem-principal {
    width: 300px;
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

.Web{
    background-color: #ffdcdc;
    border: 1px solid palevioletred;
    margin: 20px;
    padding: 20px;
}

.sistemas{
    background-color: #ffdcdc;
    border: 1px solid palevioletred;
    margin: 20px;
    padding: 20px;
}

.dados{
    background-color: #ffdcdc;
    border: 1px solid palevioletred;
    margin: 20px;
    padding: 20px;
}

.consultoria{
    background-color: #ffdcdc;
    border: 1px solid palevioletred;
    margin: 20px;
    padding: 20px;
}

/* Todos poderiam ser reduzidos a apenas 1 classe  */
.cartoes_servicos{
    background-color: #ffdcdc;
    border: 1px solid palevioletred;
    margin: 20px;
    padding: 20px;
}

.funcionarios {
    background-color: #f2f2f2;
    border: 1px solid palevioletred;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.funcionarios img {
    width: 150px;
    height: 175px;
}

.vendas {
    background-color: #ffdcdc;
    border: 1px solid palevioletred; 
    margin: 20px;
    padding: 20px;
}

.empresarial {
    background-color: #ffdcdc;
    border: 1px solid palevioletred; 
    margin: 20px;
    padding: 20px;
}

.site {
    background-color: #ffdcdc;
    border: 1px solid palevioletred; 
    margin: 20px; 
    padding: 20px;
}

button {
    background-color: #ffdcdc;
    color:rgb(180, 21, 21);
    border: none;
    padding: 1px 1px;
    font-size: 1px;
}

footer {
     background-color: #ffdcdc;
    border: 1px solid palevioletred; 
    text-align: center;
    padding: 25px;
}

footer p {
    font-size: 20px;
}